<mat-toolbar class="sticky-top px-2 px-md-3 bg-dark text-white"
  [class.shadow]="isScrolled">

  
  <a routerLink="/" mat-button class="rounded-pill fw-bold fs-6 text-white" (click)="closeMobileMenu()">
    <mat-icon class="text-white">auto_stories</mat-icon>
    Vocabulary
  </a>

  <span class="flex-fill"></span>

  
  <nav class="d-none d-lg-flex align-items-center gap-1">

    <a routerLink="/" mat-button class="rounded-pill text-white"
      routerLinkActive="bg-white bg-opacity-10"
      [routerLinkActiveOptions]="{exact:true}">
      <mat-icon class="text-white">home</mat-icon> Home
    </a>

    <ng-container *kaHasRoles="['USER']">
      <button mat-button class="rounded-pill text-white" [matMenuTriggerFor]="wordsMenu">
        <mat-icon class="text-white">library_books</mat-icon>
        Words
        <mat-icon class="text-white" iconPositionEnd>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #wordsMenu="matMenu">
        <a mat-menu-item routerLink="/word/list">
          <mat-icon>format_list_bulleted</mat-icon> My Words
        </a>
        <a mat-menu-item routerLink="/word/new-word">
          <mat-icon>add_circle</mat-icon> Add Word
        </a>
      </mat-menu>
    </ng-container>

    <a *kaHasRoles="['USER']" routerLink="/flashcard" mat-button class="rounded-pill text-white"
      routerLinkActive="bg-white bg-opacity-10">
      <mat-icon class="text-white">style</mat-icon> Flashcards
    </a>

    <ng-container *kaHasRoles="['USER']">
      <button mat-button class="rounded-pill text-white" [matMenuTriggerFor]="settingsMenu">
        <mat-icon class="text-white">tune</mat-icon>
        Settings
        <mat-icon class="text-white" iconPositionEnd>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu">
        <a mat-menu-item routerLink="/settings/languages">
          <mat-icon>language</mat-icon> My Languages
        </a>
        <a mat-menu-item routerLink="/settings/roles">
          <mat-icon>manage_accounts</mat-icon> Roles
        </a>
        <mat-divider></mat-divider>
        <a mat-menu-item routerLink="/settings/delete-user">
          <mat-icon color="warn">delete_forever</mat-icon> Delete Account
        </a>
      </mat-menu>
    </ng-container>

    <div class="vr text-white opacity-25 mx-2 d-none d-lg-inline-flex"></div>

    @if (!authenticated) {
      <button mat-button class="rounded-pill text-white" (click)="login()">
        <mat-icon class="text-white">login</mat-icon> Login
      </button>
      <a mat-raised-button routerLink="/register" class="rounded-pill ms-1 bg-gradient bg-primary text-white fw-semibold">
        <mat-icon class="text-white">person_add</mat-icon> Register
      </a>
    } @else {
      <button mat-stroked-button class="rounded-pill border-white border-opacity-50 text-white" (click)="logout()">
        <mat-icon class="text-white">logout</mat-icon> Logout
      </button>
    }

  </nav>

  
  <button mat-icon-button class="d-lg-none text-white" (click)="mobileMenuOpen = !mobileMenuOpen">
    <mat-icon class="text-white">{{ mobileMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>

</mat-toolbar>


@if (mobileMenuOpen) {
  <div class="bg-dark border-bottom border-light-subtle shadow-sm p-3">

    <a mat-button class="d-flex w-100 justify-content-start rounded-pill mb-1 text-white"
      routerLink="/" routerLinkActive="bg-white bg-opacity-10"
      [routerLinkActiveOptions]="{exact:true}" (click)="closeMobileMenu()">
      <mat-icon class="me-2 text-white">home</mat-icon> Home
    </a>

    <ng-container *kaHasRoles="['USER']">
      <a mat-button class="d-flex w-100 justify-content-start rounded-pill mb-1 text-white"
        routerLink="/word/list" routerLinkActive="bg-white bg-opacity-10" (click)="closeMobileMenu()">
        <mat-icon class="me-2 text-white">format_list_bulleted</mat-icon> My Words
      </a>
      <a mat-button class="d-flex w-100 justify-content-start rounded-pill mb-1 text-white"
        routerLink="/word/new-word" routerLinkActive="bg-white bg-opacity-10" (click)="closeMobileMenu()">
        <mat-icon class="me-2 text-white">add_circle</mat-icon> Add Word
      </a>
      <a mat-button class="d-flex w-100 justify-content-start rounded-pill mb-1 text-white"
        routerLink="/flashcard" routerLinkActive="bg-white bg-opacity-10" (click)="closeMobileMenu()">
        <mat-icon class="me-2 text-white">style</mat-icon> Flashcards
      </a>
    </ng-container>

    <mat-divider class="my-2"></mat-divider>

    <ng-container *kaHasRoles="['USER']">
      <a mat-button class="d-flex w-100 justify-content-start rounded-pill mb-1 text-white"
        routerLink="/settings/languages" routerLinkActive="bg-white bg-opacity-10" (click)="closeMobileMenu()">
        <mat-icon class="me-2 text-white">language</mat-icon> My Languages
      </a>
      <a mat-button class="d-flex w-100 justify-content-start rounded-pill mb-1 text-white"
        routerLink="/settings/roles" routerLinkActive="bg-white bg-opacity-10" (click)="closeMobileMenu()">
        <mat-icon class="me-2 text-white">manage_accounts</mat-icon> Roles
      </a>
      <mat-divider class="my-2"></mat-divider>
    </ng-container>

    @if (!authenticated) {
      <button mat-button class="d-flex w-100 justify-content-start rounded-pill mb-1 text-white"
        (click)="login(); closeMobileMenu()">
        <mat-icon class="me-2 text-white">login</mat-icon> Login
      </button>
      <a mat-raised-button class="d-flex w-100 justify-content-start rounded-pill bg-gradient bg-primary text-white"
        routerLink="/register" (click)="closeMobileMenu()">
        <mat-icon class="me-2 text-white">person_add</mat-icon> Register
      </a>
    } @else {
      <button mat-stroked-button class="d-flex w-100 justify-content-start rounded-pill text-white border-white border-opacity-50"
        (click)="logout()">
        <mat-icon class="me-2 text-white">logout</mat-icon> Logout
      </button>
    }

  </div>
}
