.table-hover tbody tr:hover td {
    background-color: rgba(13, 110, 253, 0.08);
}

.pagination .page-link {
    background-color: #f8f9fa;
    /* Bootstrap's .bg-light */
    color: #0d6efd;
    /* Bootstrap's .text-primary */
    border: 1px solid #dee2e6;
}

.pagination .page-link:disabled,
.pagination .page-item.disabled .page-link {
    color: #6c757d;
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

.pagination .page-link:hover:not(:disabled):not(.disabled) {
    background-color: #e2e6ea;
    color: #0a58ca;
}