<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Add New Word</h2>
  
    <div class="control-row">
      <div class="control no-margin">
        <label for="sentence">Sentence</label>
        <input id="sentence" type="text" [formControl]="form.controls.sentence"/>
      </div>
  
      <div class="control no-margin">
        <label for="translation">Translation</label>
        <!-- equivalent-->
        <!--    
        <input id="password" type="password" [formControl]="form.controls.password"/> 
        -->
        <input id="translation" type="text" formControlName="translation"/>
      </div>
  
      <button class="button">Add Word</button>
    </div>

    @if (sentenceIsInvalid) {
      <p class="control-error">Please enter a valid Sentence</p>
    }
    @if (translationIsInvalid) {
      <p class="control-error">Please enter a valid Translation</p>
    }
  </form>