<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
  
    <div class="control-row">
      <div class="control no-margin">
        <label for="email">Email</label>
        <input id="email" type="email" [formControl]="form.controls.email"/>
      </div>
  
      <div class="control no-margin">
        <label for="password">Password</label>
        <!-- equivalent-->
        <!--    
        <input id="password" type="password" [formControl]="form.controls.password"/> 
        -->
        <input id="password" type="password" formControlName="password"/>
      </div>
  
      <button class="button">Login</button>
    </div>

    @if (form.controls.email.touched && form.controls.email.dirty && form.controls.email.invalid) {
      <p class="control-error">Please enter a valid email address </p>
    }
  </form>